{% extends 'base.html' %}
{% block page_title %} {{chapter.title}} | Update {% endblock page_title %}
{% block page_content %} 
    <p class="lead">
        <a href="{% url 'course-detail-page' chapter.course.id %}" class="bg-light p-1">{{chapter.course.title}}</a>
         > 
        <a  href="{% url 'chapter-update-page' chapter.id %}" class="bg-light p-1">{{chapter.title}}</a>
    </p>
    <form action="{% url 'chapter-update-page' chapter.id %}" method="POST" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" {% if chapter.title %} value="{{chapter.title}}" {% endif %} name="title" placeholder="Enter Title">
        </div>
        <div class="mb-3">
            <label for="google-docs-link" class="form-label">Google Docs Link</label>
            <input type="text" class="form-control" id="google-docs-link" {% if chapter.google_docs_link %} value="{{chapter.google_docs_link}}" {% endif %} name="google-docs-link" placeholder="Enter Download Page">
        </div>
        <div class="mb-3">
            <label for="storage" class="form-label">Select Storage</label>
            <select class="form-select" name="storage">
                {% for storage in storages %}
                    {% if chapter.storage == storage %}
                        <option value="{{storage.email}}" selected>{{storage.email}}</option>
                    {% else %}
                        <option value="{{storage.email}}">{{storage.email}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" name="is-done" id="is-done" {% if chapter.is_done %}checked{% endif %} class="form-check-input">
                <label for="is-done" class="form-check-label">Completed ?</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    {{chapter.title}}
    <ol>
        {% for video in chapter.video_set.all %}
            <li><a href="{% url 'video-detail-page' video.id %}">{{video.title}}</a></li>
        {% endfor %}
    </ol>
{% endblock page_content %} 