{% extends 'base.html' %}
{% block page_title %} Add New Course {% endblock page_title %}
{% block youtube_active %} active {% endblock youtube_active %}
{% block page_content %}
<form action="{% url 'playlist-add-page' %}" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="title" class="form-label">Course Title</label>
    <input type="text" class="form-control" placeholder="Enter Course Name" id="title" name="title">
  </div>
  <div class="mb-3">
    <label for="github-link" class="form-label">View Full Playlist in YouTube</label>
    <input type="text" class="form-control"placeholder="Enter YouTube Link"  id="youtube-link" name="youtube-link">
  </div>
  <div class="row g-3 mb-3">
    <div class="col">
      <label for="height" class="form-label">Height</label>
      <input type="number" name="height" class="form-control" placeholder="Enter Height">
    </div>
    <div class="col">
      <label for="width" class="form-label">Width</label>
      <input type="number" name="width" class="form-control" placeholder="Enter Width">
    </div>
  </div>
  <div class="mb-3">
    <label for="github-link" class="form-label">Github Repository Link</label>
    <input type="text" class="form-control"placeholder="Enter Github Link"  id="github-link" name="github-link">
  </div>
  <div class="mb-3">
    <label for="google-docs-link" class="form-label">Google Link</label>
    <input type="text" class="form-control"placeholder="Enter Google Docs Link"  id="google-docs-link" name="google-docs-link">
  </div>
  <div class="mb-3">
    <label for="youtube-videos" class="form-label">Enter Videos Info in JSON</label>
    <textarea class="form-control" placeholder="Enter Videos Info in JSON" id="youtube-videos" rows="3" name="youtube-videos"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

{% endblock page_content %}