{% extends 'myapp/base.html' %}
{% block page_title %} {{course.title}} {% endblock page_title %}
{% block page_content %} 
<h1 class="text-center">{{course.title}}</h1>
<p class="lead">Last seen: <a href="{% url 'video-detail-page' last_seen.id %}">{{last_seen.title}}</a></p>
<ol>
    {% for chapter in course.chapter_set.all %}
        <li>
            {{chapter.title}} <span><a href="{% url 'chapter-update-page' chapter.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
            <ol>
                {% for video in chapter.video_set.all %}
                    <li><a href="{% url 'video-detail-page' video.id %}">{{video.title}}</a></li>
                {% endfor %}
            </ol>
        </li>
    {% endfor %}
</ol>

<a href="{% url 'course-edit-page' course.id %}">Update this course</a>

{% endblock page_content %} 