{% extends 'myapp/base.html' %}
{% block page_title %} All Storage {% endblock page_title %}
{% block storage_active %} active {% endblock storage_active %}
{% block page_content %} 

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sl No.</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for storage in storages %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <td class="copy-able" data-content="{{storage.email}}">{{storage.email}}</td>
                    <td class="copy-able" data-content="{{storage.password}}">{{storage.password}}</td>
                    <td class="copy-able" data-content="{{storage.description}}">{{storage.description}}</td>
                </tr>
            {% empty %}
                <p class="lead">No storage available</p>
            {% endfor %}
        </tbody>
    </table>

    <div id="add-storage" class="pt-3">
        <h1 class="lead">Add New Storage</h1>
        <form action="{% url 'storage-add-page' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="text" class="form-control" id="password" name="password" placeholder="Enter Password" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

    <script>
        var copyText = (text) => {
            var input = document.createElement('input')
            input.type = 'text'
            input.value = text.trim()
            input.select()
            navigator.clipboard.writeText(input.value);   
        }

        var copyAbles = document.querySelectorAll('.copy-able')
        copyAbles.forEach(elem => {
            elem.addEventListener('click', (e)=>{
                var text = e.target.dataset.content
                copyText(text)
                e.target.classList.add('fw-bold')
                e.target.classList.add('fst-italic')
                setTimeout(()=>{
                    e.target.classList.remove('fw-bold')
                    e.target.classList.remove('fst-italic')
                }, 0.4*1000)
            })
        })
    </script>
{% endblock page_content %}